<div id="scenariosForm" [formGroup]="expForm">
<mat-card class="workspace">
    <mat-card-header>
      <mat-card-title>Climate Scenarios Service Description</mat-card-title>
        <mat-card-subtitle>Choose the Scenario to model for your experiment</mat-card-subtitle>
    </mat-card-header>

    <mat-form-field class="search-full-width">
      <input matInput placeholder="Scenario" aria-label="Scenario Selection" [matAutocomplete]="auto"
      [formControl]="scenariosCtrl">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="save()">
        <mat-option *ngFor="let scenario of scenarios" [(value)]='scenario'>
          <span>{{scenario.name}}</span>
        </mat-option>



      </mat-autocomplete>
    </mat-form-field>

    <p>{{expForm.get('scenariosForm').value | json}} </p>
  </mat-card>
</div>
