ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}



body {

  margin: 25px;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


