<mat-card class="workspace">
    <mat-card-header>
      <mat-card-title>Occurrences Description</mat-card-title>
        <mat-card-subtitle>Choose the Species Occurrenes for your experiment</mat-card-subtitle>
    </mat-card-header>

  <form class="search-form">
    <mat-form-field class="search-full-width">
      <input matInput placeholder="Occurrences" aria-label="Occurrences Selection" [matAutocomplete]="auto" [formControl]="occurrencesCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let occurrence of filteredOccurrences | async" [(value)]="occurrence.name">

          <span>{{occurrence.name}}</span> |
          <small>{{occurrence.id}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <br>


  </form>


    <mat-card-content>


    </mat-card-content>
        <mat-card-actions></mat-card-actions>
  </mat-card>
