<form id="expForm" [formGroup]="experimentForm" (ngSubmit)="onSubmit()">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step>
      <ng-template matStepLabel>Begin Experiment</ng-template>
      <h1 style="text-align:left;">
        Species Distribution as predicted by Climatology models
      </h1>
      <div>
        <button mat-button matStepperNext>
          <h2>Lets Get Started!</h2>
          (click here to select a species)
        </button>
      </div>
      <div class="container"></div>
      <div class="box1" width="auto"><app-home></app-home></div>
    </mat-step>
    <!--Occurrences Form-->
    <mat-step
      formGroupName="occurrencesForm"
      [stepControl]="experimentForm.get('occurrencesForm')"
    >
      <ng-template matStepLabel>Species Selection</ng-template>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
      <div class="container">
        <h1 style="text-align:center;">
          Please select the SPECIES you want to model for this experiment
        </h1>
        <div class="box1" width="auto">
          <app-occurrence-list [expForm]="experimentForm" (occurrenceSelected) = "getOccurrence($event)"></app-occurrence-list>
        </div>
      </div>
    </mat-step>
    <!--Scenarios Form-->
    <mat-step
      formGroupName="scenariosForm"
      [stepControl]="experimentForm.get('scenariosForm')"
    >
      <ng-template matStepLabel>Scenario Selection</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
      <div class="container">
        <h1 style="text-align:center;">
          Please select the SCENARIO you want to model for this experiment
        </h1>
        <div class="box1" width="auto">
          <app-scenario-list [expForm]="experimentForm" (scenarioSelected) = "getScenario($event)"></app-scenario-list>
        </div>
      </div>
    </mat-step>
    <!--Layers Form (We don't need it at this moment)-->
    <!--
    <mat-step [stepControl]="thirdFormGroup">
      <ng-template matStepLabel>Environmental Layers</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
      <div class="container">
        <h1 style="text-align:center;">
          Please select the ENVIRONMENTAL LAYERS for this experiment
        </h1>
        <div class="box1" width="auto"><app-layer-list></app-layer-list></div>
      </div>
    </mat-step> -->
    <!--Algorithms Form-->
    <mat-step
      formGroupName="algorithmsForm"
      [stepControl]="experimentForm.get('algorithmsForm')"
    >
      <ng-template matStepLabel>Algorithm Selection</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
      <div class="container">
        <h1 style="text-align:center;">
          Please select the ALGORITHM you want to model for this experiment
        </h1>
        <div class="box1" width="auto">
          <app-algorithm [expForm]="experimentForm" (algorithmSelected) = "getAlgorithm($event)"></app-algorithm>
        </div>
      </div>
    </mat-step>
    <mat-step [stepControl]="submitForm">
      <ng-template matStepLabel>Review and Submit Experiment</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
      <div class="container">
        <h1 style="text-align:center;">
          Please REVIEW your selections and SUBMIT the experiment!
        </h1>
        <mat-card *ngIf="experimentForm.get('occurrencesForm').value != ''">
            <h4>Occurrence:</h4>
            <p >{{ occurrenceSelected.name }}</p>
        </mat-card>
        <mat-card *ngIf="experimentForm.get('scenariosForm').value != ''">
            <h4>Scenario:</h4>
            <p >{{ scenarioSelected.name }}</p>
        </mat-card>
        <mat-card *ngIf="experimentForm.get('algorithmsForm').value != ''">
            <h3>Algorithm:</h3>
            <p >Name: {{ algorithmSelected.name }}</p>
            <h4>Parameters:</h4>
            <p *ngFor="let param of algorithmSelected.parameters">
                {{ param.displayName }} : {{ param.default }}
              </p>
        </mat-card>

        <div *ngIf="!formSubmitted" style="text-align:center;">
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
        <mat-card *ngIf="formSubmitted">
            <h4>Results</h4>
            <p> {{ experimentResult | json }}</p>
        </mat-card>

      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Experiment Submitted</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
      <div class="container">
        <h1 style="text-align:center;">
          Your Results will populate below as they are returned from the model
        </h1>
      </div>
      <div class="wrapper">
        <div class="box1"><app-esri></app-esri></div>
      </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Experiment Submitted</ng-template>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
        <div class="container">
          <h1 style="text-align:center;">
            Your Results will populate below as they are returned from the model
          </h1>
        </div>
        <div class="wrapper">
          <div class="box2"><app-metacrawl></app-metacrawl></div>
        </div>
      </mat-step>
  </mat-horizontal-stepper>
</form>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
