.wrapper {
  display: inline-grid;
      grid-template-columns: auto auto auto;
      grid-gap: 10px;
      background-color: #000000;
      padding: 10px;

}

.box1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.box2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
