.details{
  text-indent: 10px;
  margin: 10px;
}

.workspace {
  width: 100%;
  min-height: 500;
  background-color:rgb(240, 240, 240);
  background-size: stretch;
}

.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-full-width {
  width: 100%;
}
