
<form class="search-form">
  <mat-form-field class="search-full-width">
    <input matInput placeholder="Species" aria-label="Species Selection" [matAutocomplete]="auto" [formControl]="speciesCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let specie of filteredSpecies | async" [(value)]="specie.scientificName">

        <span>{{specie.scientificName}}</span> |
        <small>{{specie.key}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <br>


</form>
